<nav class="navbar">
  <div class="logo">SarahFeed & Heidish</div>

  <ul class="nav-links">
    <div>
      <div style="display:flex; gap:20px; padding-bottom:20px;">
        <!-- Logged out -->
        <li *ngIf="!isLoggedIn()"><a routerLink="/login" routerLinkActive="active">Connexion</a></li>
        <li *ngIf="!isLoggedIn()"><a routerLink="/register" routerLinkActive="active">Inscription</a></li>

        <!-- Logged in -->
        <li *ngIf="isLoggedIn()"><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
        <li *ngIf="isLoggedIn()"><a (click)="logout()" style="cursor: pointer;">Déconnexion</a></li>
      </div>

      <div style="display:flex; gap:20px;">
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Accueil</a></li>
        <li><a routerLink="/livres" routerLinkActive="active">Livres</a></li>
        <li><a routerLink="/apropos" routerLinkActive="active">À propos</a></li>
      </div>
    </div>
  </ul>
</nav>
